<div class="container mt-100" th:fragment="forgot">
    <div class="row align-items-center justify-content-md-center ">
        <div class="col-sm-12 col-md-12 col-xl-12 col-xxl-11 col-xxxl-8">
            <div class="row justify-content-center no-gutters row">
                <form th:action="@{/forgot-password}" id="forgot-form" method="post" class="bg-white rounded20 shadow-lg p-4 col-7">
                    <div class="forgot-title col-12"><h1>Forgot your password</h1></div>
                    <div class="col-12">Please enter the email address you'd like your password reset information sent to</div>

                    <div class="col-12 text-danger text-center" th:text="${resetError}"></div>
                    <div class="col-12 text-danger text-success" th:text="${resetSuccess}"></div>

                    <div class="col-12 text-right mt-4 mb-1">
                        <a class="text-decoration" send-type="email" id="change-type" href="#"><u>Reset by phone</u></a>
                    </div>
                    <div class="form-group phone-form">
                        <div>
                            <i id="pre-icon" class="ti-email mr-2"></i><span id="label-type">Email</span>
                        </div>
                        <input type="text" name="email" id="email" placeholder="Email" class="form-control text-dark bg-transparent">
                        <input type="text" name="phone" id="phone2" placeholder="Phone" class="form-control text-dark bg-transparent d-none">
                    </div>
                    <div class="form-group">
                        <div>
                            <i class="ti-shield mr-2"></i>Verification Code
                        </div>
                        <div class="input-group mb-3 d-flex">
                            <input type="text" name="code" class="form-control bg-transparent text-dark"
                                   placeholder="Verification code">
                            <span class="input-group-append "><button
                                    class="btn btn-primary rounded-0 font-size-14 btn-sm"
                                    type-verify="email" type="button"
                                    id="btn-send-forgot">Send </button></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div><i class="ti-lock mr-2"></i><label>Password</label></div>
                        <input type="password" id="password" name="password"
                               class="form-control bg-transparent text-dark"
                               placeholder="Password">
                    </div>
                    <div class="form-group mb-4">
                        <div><i class="ti-lock mr-2"></i><label>Confirm Password</label></div>
                        <input type="password" name="confirmPassword"
                               class="form-control bg-transparent text-dark"
                               placeholder="Confirm Password">
                    </div>
                    <button type="submit" id="button-reset" class="btn btn-github col-12">Reset password</button>
                    <div class="col-12 text-center mt-4">
                        <a class="" th:href="@{/}"><u>Back to login</u></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>