<div th:fragment="script">
    <script th:src="@{/js/vendors.min.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.10.4/jquery-ui.js}"></script>

    <script th:src="@{/js/template.js}"></script>
    <script th:src="@{/js/demo.js}"></script>
    <script th:src="@{/js/pages/data-table.js}"></script>
    <script th:src="@{/js/pages/advanced-form-element.js}"></script>
    <script th:src="@{/js/pages/toastr.js}"></script>
    <script th:src="@{/js/pages/notification.js}"></script>
    <script th:src="@{/js/pages/formatter.js}"></script>
    <script th:src="@{/js/pages/pace.js}"></script>

    <script th:src="@{/assets/icons/feather-icons/feather.min.js}"></script>
    <script th:src="@{/assets/vendor_components/bootstrap-markdown-master/js/bootstrap-markdown.js}"></script>
    <script th:src="@{/assets/vendor_components/datatable/datatables.min.js}"></script>
    <script th:src="@{/assets/vendor_components/marked/marked.js}"></script>
    <script th:src="@{/assets/vendor_components/to-markdown/to-markdown.js}"></script>
    <script th:src="@{/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js}"></script>
    <script th:src="@{/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js}"></script>
    <script th:src="@{/assets/vendor_components/select2/dist/js/select2.full.js}"></script>
    <script th:src="@{/assets/vendor_plugins/input-mask/jquery.inputmask.js}"></script>
    <script th:src="@{/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
    <script th:src="@{/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js}"></script>
    <script th:src="@{/assets/vendor_components/moment/min/moment.min.js}"></script>
    <script th:src="@{/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/assets/vendor_components/jquery-validation-1.17.0/dist/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/icons/feather-icons/feather.min.js}"></script>
    <script th:src="@{/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js}"></script>
    <script th:src="@{/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/assets/vendor_plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/assets/vendor_components/formatter/formatter.js}"></script>
    <script th:src="@{/assets/vendor_components/formatter/jquery.formatter.js}"></script>
    <script th:src="@{/assets/vendor_components/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/assets/vendor_components/sweetalert/jquery.sweet-alert.custom.js}"></script>
    <script th:src="@{/assets/vendor_components/PACE/pace.min.js}"></script>

    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/common/validate-input.js}"></script>
    <script th:src="@{/js/flm/permission.js}"></script>
    <script th:src="@{/js/flm/user-script.js}"></script>
    <script th:src="@{/js/flm/authentication.js}"></script>
    <script th:src="@{/js/flm/subject.js}"></script>
    <script th:src="@{/js/flm/syllabus.js}"></script>
    <script th:src="@{/js/flm/curriculum.js}"></script>

</div>