<div class="container pt-70" th:fragment="new-setting(setting,systemTypes)">
    <div class="font-size-18 font-weight-600 d-flex justify-content-start ">
        <ol class="breadcrumb mb-0 mt-4 bg-unset pt-0">
            <li class="breadcrumb-item "><a th:href="@{/home}" class="pr-md-3 pl-1 pr-1 "><i class="ti-home"></i></a></li>
            <li class="breadcrumb-item "><a th:href="@{/settings}" class="pr-md-3 pl-1 pr-1 ">Setting list</i></a></li>
            <li th:if="${setting.id == null}" class="breadcrumb-item active"><a href="#" class="px-md-3 px-1 text-primary">New Setting </a></li>
            <li th:if="${setting.id != null}" class="breadcrumb-item active"><a href="#" class="px-md-3 px-1 text-primary">Setting Detail </a></li>
        </ol>
    </div>
    <div class="pt-15">
        <form th:action="@{/settings/insert}" method="post" id="setting-form">
            <input type="hidden" name="id" th:value="${setting.id}">
            <div class="form-body">
                <div class="row">
                    <div class="col-6 col-md-8">
                        <div class="col-8 col-md-10">
                            <div class="form-group">
                                <label class="font-weight-700 font-size-16 required">Name</label>
                                <input type="text" class="form-control bg-transparent text-dark border-secondary"
                                       placeholder="Setting Name" name="title" th:value="${setting.title == null ? '' : setting.title}">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                            <label class="font-weight-700 font-size-16">Type</label>
                            <th:block th:if="${setting.type != null}">
                                <input type="text" class="form-control position-relative"
                                       name="type" th:value="${setting.type == null ? '' : setting.type}" readonly>
                                <i class="ti-angle-down custom-select-icon"></i>
                            </th:block>
                            <th:block th:if="${setting.type == null}">
                                <select class="form-control bg-transparent text-dark border-secondary"
                                        data-placeholder="Choose Setting Type" tabindex="1" name="type">
                                    <option value="blank"></option>
                                    <th:block th:each="type : ${systemTypes}">
                                        <option th:value="${type}" th:text="${type}"></option>
                                    </th:block>
                                </select>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-8">
                        <div class="col-8 col-md-10">
                            <div class="form-group">
                                <label class="font-weight-700 font-size-16">Display Order</label>
                                <input type="text" class="form-control bg-transparent text-dark border-secondary"
                                       placeholder="Display Order" name="displayOrder" th:value="${setting.displayOrder == null ? '' : setting.displayOrder}">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="form-group">
                            <label class="font-weight-700 font-size-16">Status</label>
                            <div class="radio-list">
                                <label class="radio-inline p-0 mr-10">
                                    <div class="radio radio-info">
                                        <input type="radio" name="status" id="active" value="Active"
                                               th:checked="${setting.isDeleteFlag == false}">
                                        <label for="active">Active</label>
                                    </div>
                                </label>
                                <label class="radio-inline">
                                    <div class="radio radio-info">
                                        <input type="radio" name="status" id="deactive" value="Deactive"
                                               th:checked="${setting.isDeleteFlag == true}">
                                        <label for="deactive">Deactive</label>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-700 font-size-16">Description</label>
                            <textarea class="form-control bg-transparent text-dark border-secondary p-20" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions mt-10 d-flex justify-content-start">
                <th:block th:if="${setting.id == null}">
                    <button type="button" class="btn btn-rounded btn-github mr-10" id="btnAddSetting">Add New</button>
                </th:block>
                <th:block th:if="${setting.id != null}">
                    <button type="button" class="btn btn-rounded btn-github mr-10" id="btnUpdateSetting">Update</button>
                </th:block>
            </div>
        </form>
    </div>
</div>