
body {
    color: #1b1e21;
}

.form-control, .form-control:focus {
    border-radius: 10px;
    color: #1b1e21;
}

.theme-primary .form-control:focus {
    background-color: rgba(238, 238, 238, 0.1);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4,
.col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto, .col-xxxl-1, .col-xxxl-2, .col-xxxl-3, .col-xxxl-4, .col-xxxl-5, .col-xxxl-6, .col-xxxl-7, .col-xxxl-8,
.col-xxxl-9, .col-xxxl-10, .col-xxxl-11, .col-xxxl-12, .col-xxxl, .col-xxxl-auto {
    padding-right: 12px;
    padding-left: 12px;
}

.avatar-profile {
    width: 250px;
}

.text-underline {
    text-decoration: underline;
}

.content-wrapper, .main-footer {
    margin-left: 0;
}

.required::after {
    content: '*';
    color: var(--danger);
    margin-left: 3px;
}

.form-control {
    margin-bottom: 0;
}

.text-black {
    color: #2C3333;
}

.btn-icon {
    border: none;
}

.btn-icon:hover, .btn-icon:active, .btn-icon:focus {
    color: #ffffff !important;
}

.btn-icon-custom {
    margin-top: 3px;
    margin-right: 5px;
}

/*MODAL*/

.modal-footer {
    display: flex;
    align-items: end;
}

.pre-line {
    white-space: pre-line;
}


.status-badge {
    width: fit-content;
    padding: 6px 16px;
    border-radius: 12px;
    text-align: center;
}

.sub-header {
    position: fixed;
    top: 71px;
    left: 0;
    right: 0;
    z-index: 10;
}

.sub-header nav {
    background-color: #e6edf5 !important;
}